{
  "rules": {
    "linebreak-style": [ 2, "unix" ],
    "no-unused-vars": [ 2, { "args": "none" } ],
    "quotes": [ 2, "single" ],
    "semi": [ 2, "always" ],
    "no-console": 0
  },
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "expect": false,
    "it": false,
    "describe": false,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true
  }
}